.sidebar {
  /* background-color: orange; */
  height: 100vh;
  width: 30rem;
  position: fixed;
  padding: 2em;
  background-color: black;
}

/* <div className={styles.logo}>Logo</div>
      <div className={styles.menu}>Menu</div>
      <div className={styles.search}>Search</div>
      <div className={styles.sidebarFooter}>SidebarFooter</div> */

.sidebar .logo {
  background-image: url("../public/logo192.png");
  height: 20rem;
}

.sidebar .menu {
  margin-top: 13rem;
  height: 20rem;
}

.sidebar .search {
  margin: 2rem 0;
  height: 10rem;
}

.sidebar .sidebarFooter {
  margin: 5rem 0;
  padding: 5rem 0;
  height: 10rem;
}

.main {
  display: inline-table;
  margin-left: 30rem;
}

.notificationBar {
  height: 5rem;
}

.header {
  height: 80rem;
}

.content {
  height: 100rem;
}

.recent {
  height: 90rem;
}

.footer {
  height: 50rem;
}
