.menuBar {
  height: 10rem;
  background-color: black;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  margin: 2rem;
  height: 10rem;
}

.btns {
  position: absolute;
  right: 0;
  float: right;
  margin: 2rem;
}

.menuItem {
  font-size: 3rem;
  background-color: black;
  margin: 2rem;
}

.poster {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(#777, 0.8),
      rgba(#999, 0.8)
    ),
    url(../public/Theo.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
